.company-item {
  min-height: 100vh;
  background: white url(../images/company-detail.png) no-repeat;
  background-position: 100% 100px;
  // max-width: 1440px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 277px;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1 {
    font-weight: 900;
  }

  h1,
  .slogan {
    font-size: 3.6rem;
    color: black;
    line-height: 1.5;
  }
}

.overview {
  .info-title {
    color: #72a8db;
    font-weight: 600;
  }

  p {
    color: #666;
    line-height: 1.5;
  }

  .info-box {
    gap: 20px;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
  }

  .info-item {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
  }

  .info-item:nth-child(1) {
    grid-row: 1 / 2;
  }

  .info-item:nth-child(2) {
    grid-row: 2 / 3;
  }

  .info-item:nth-child(3) {
    grid-row: 3 / 4;
  }

  .info-item:nth-child(4) {
    grid-row: 4 / 5;

    p::before {
      content: "";
      display: inline-block;
      margin-right: 5px;
      width: 1px;
      height: 1px;
      background-color: #666;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  .info-item:nth-child(5) {
    grid-row: 5 / 6;
  }
}

.business-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .icon-inner {
    width: 100%;
    display: flex;
    gap: 50px;

    .business-item {
      width: 100%;
      max-width: 500px;
      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e8e8e8;

        img {
          width: fit-content;
        }
        h3 {
          font-weight: 900;
          font-size: 2.2rem;
        }
      }

      div:nth-child(2) {
        padding-top: 30px;

        p {
          text-align: center;
          line-height: 1.5;
          font-size: 1.4rem;
          color: #666;
        }
      }
    }

    .web {
      img {
        margin-top: 15px;
      }
    }

    .Mark-Median {
      img {
        margin-top: 4px;
      }
    }

    .mobile {
      img {
        margin-top: 2px;
      }
    }
  }
}
