// @import "./color.scss";

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 277px;
  height: 100vh;
}
.header_inner {
  padding: 55px 40px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;
  align-items: center;
  text-align: center;
  height: 100%;
  justify-content: space-between;
}
nav {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  div {
    &:hover {
      color: #4c8cd5;
    }
  }
}
.download_btn {
  width: 100%;
  height: 65px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  a {
    display: block;
    width: 100%;
    height: 100%;
    div {
      height: 100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}
.inquiry_btn {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    border: 1px solid #4c8cd5;
    color: #4c8cd5;
  }
}
.address {
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #666;
  flex-direction: column;
  gap: 5px;
}

// ===============================
.slide-container {
  // position: relative;
  // height: 100vh;
  width: 100vw;
  height: 100vh;

  .main-swiper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 277px;
    // overflow-x: scroll;
    // overflow-y: scroll;
    // overflow-y: auto;
    // overflow-x: auto;
  }
}

.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  width: 400px;
  height: 100vh;
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-right: 1px solid #e8e8e8;

  // .swiper-slide::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.7);
  //   transition: all 0.3s;
  // }

  h1 {
    color: #d3d3d3;
    font-weight: 700;
    font-size: 80px;
  }
  .text_box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h6 {
      font-weight: 500;
      font-size: 14px;
    }

    h3 {
      font-weight: 400;
      font-size: 26px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
    }

    .date {
      font-size: 13px;
      font-weight: 300;
    }
  }
}
.content-box {
  width: 100%;
  height: 100%;
  position: relative;

  .content-inner {
    overflow: hidden;
    width: 100%;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      transition: 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
      }

      .bg-img {
        width: 100%;
        height: 100%;
      }

      .hover-box {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          rgba(123, 170, 224, 0.85) 0%,
          rgba(95, 134, 204, 0.85) 100%
        );
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s ease-out;

        .icon-box {
          width: 100%;
          height: 100%;
          color: white;
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          transform: translateY(10%);
          transition: 0.2s ease-out;
        }

        &:hover {
          opacity: 1;
        }

        &:hover .icon-box {
          transform: translateY(0);
        }
      }
    }
  }
}

// ================
.scrollBar {
  // color: gray;
  // z-index: 99;
  // bottom: 17px;
  // height: 95px;
  // width: 158px;
  // overflow-x: auto;

  // li {
  //   font-size: 13px;
  //   font-weight: 500;
  //   padding: 11px 0 11px 20px;
  // }
}

.main-swiper::-webkit-scrollbar {
  background-color: #f6f6f6;
  height: 10px;
}

.main-swiper::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
