// @import "./color.scss";

.header_inner {
  padding: 55px 40px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;
  width: 277px;
  height: 100vh;
  align-items: center;
  text-align: center;
  // gap: 48px;
  justify-content: space-between;
}
nav {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  div {
    &:hover {
      color: #4c8cd5;
    }
  }
}
.download_btn {
  width: 100%;
  height: 65px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  a {
    display: block;
    width: 100%;
    height: 100%;
    div {
      height: 100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}
.inquiry_btn {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    border: 1px solid #4c8cd5;
    color: #4c8cd5;
  }
}
.address {
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #666;
  flex-direction: column;
  gap: 5px;
}

// ===============================
.main-swiper {
  width: 100vw;
  height: 100vh;
}
.swiper-wrapper {
  // width: 100%;
}
.swiper-slide {
  width: 400px;
  height: 100vh;
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-right: 1px solid #e8e8e8;

  h1 {
    color: #d3d3d3;
    font-weight: 700;
    font-size: 80px;
  }
  .text_box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h6 {
      font-weight: 500;
      font-size: 14px;
    }

    h3 {
      font-weight: 400;
      font-size: 26px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
    }

    .date {
      font-size: 13px;
      font-weight: 300;
    }
  }
}

.image_box {
  // width: 100%;
  // height: 100%;
  div {
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  a {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

// .categoy_slide .counter {
//   line-height: 1em;
//   margin-bottom: 30px;
// }
