@media (max-width: 1600px) {
  .business-icon {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }

  .mo-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;

    .mo-hd-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .head-logo {
        img {
          width: 131px;
        }
      }

      .mo-hamburger {
        img {
          width: 25px;
          height: 18px;
        }
      }
    }
  }

  .mobile-manu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99999;
    // opacity: 0;
    // visibility: hidden;
    // transition: opacity 0.5s ease, visibility 0.5s ease;

    .mo-bg {
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.6);
      display: flex;
      justify-content: flex-end;

      .side-menu {
        width: 220px;
        height: 100%;
        background-color: white;

        .side-inner {
          display: flex;
          flex-direction: column;
          gap: 60px;
          padding: 20px;
          align-items: center;
          text-align: center;

          .close-x {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            a {
              width: 19px;

              img {
                width: 100%;
              }
            }
          }

          nav {
            display: flex;
            flex-direction: column;
            gap: 40px;
            font-size: 16px;
            font-weight: 600;

            div {
              &:hover {
                color: #4c8cd5;
              }
            }
          }

          .user-actions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .download_btn {
              font-size: 12px;
              width: 90%;
              border-top: 1px solid #d8d8d8;
              border-bottom: 1px solid #d8d8d8;

              div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
              }
            }

            .inquiry_btn {
              font-size: 14px;
              width: 100%;
              border: 1px solid black;
              padding: 15px 0;

              &:hover {
                border: 1px solid #4c8cd5;
                color: #4c8cd5;
              }
            }
          }
        }
      }
    }
  }

  .creamhouse-main {
    .container {
      position: static;
    }
  }
}
