@media (max-width: 1600px) {
  .business-icon {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }

  .mo-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;

    .mo-hd-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .head-logo {
        img {
          width: 131px;
        }
      }

      .mo-hamburger {
        img {
          width: 25px;
          height: 18px;
        }
      }
    }
  }

  .creamhouse-main {
    .container {
      // height: 100vh;
      // height: calc(100vh - 100px);
      // min-height: 435px;
      background-color: aqua;

      top: 50px;
      left: 0;
    }

    .main-slide {
      // height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          min-width: 255px;
          padding: 10px;
          gap: 10px;
        }

        h1 {
          font-size: 40px;
        }

        .text_box {
          gap: 10px;

          h6 {
            font-size: 14px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 12px;
          }
        }

        .date {
          font-size: 11px;
        }
      }
    }
  }

  .mo-footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid #d2d2d2;
    z-index: 1;

    div {
      height: 100%;
      color: #666;
      font-size: 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
