@media (max-width: 1600px) {
  .business-icon {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }

  .mo-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;

    .mo-hd-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .head-logo {
        img {
          width: 131px;
        }
      }

      .mo-hamburger {
        img {
          width: 25px;
          height: 18px;
        }
      }
    }
  }

  .creamhouse-main {
    .container {
      position: static;
    }
  }
}
