@use "./reset.scss";
@use "./header.scss";
@use "./company.scss";
@use "./creamhouse-main.scss";
@use "./project.scss";
@use "./responsive.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 277px;
}
// ====================

.gnb-item {
  display: none;
}

.gnb-item.show {
  display: block;
}

#main-page {
  display: none;
}

#main-page.show {
  display: block;
}

//  ======================= scroll-bar =======================
.swiper-scrollbar-drag {
  background-color: #b6b6b6;

  &:hover {
    background-color: #777;
  }
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  bottom: 15px;
  height: 7px;
}
//  ======================= scroll-bar =======================

.mobile-menu.show {
  // opacity: 1;
  visibility: visible;
}

.side-menu.show {
  transition: transform 0.3s ease;
  transform: translateX(0%);
}

// .tab-btn li.active {
//   background-color: #005295;
//   border-color: #005295;
//   color: #fff;
// }

// .tab-btn img.show {
//   animation: tabArrow 1s ease;
// }

// @keyframes tabArrow {
//   from {
//     transform: translateY(-10px);
//   }

//   to {
//     transform: translateY(0px);
//   }
// }
